
  <% include header %>

<div class="row row-centered">
  
  <p class="text-justify"> 

  La pregunta para ser guardada en la base de datos debe presionar enviar pregunta. 

</p>

</div>

</p>

  
  <div align= "center">
       <a  href='' type="button" class="btn btn-primary" >Enviar pregunta</a>
      <br>
      <br>
      <br>
      <button onclick="goBack()">Volver</button>
    </div>  
  
</div>

<script>
  function goBack() {
      window.history.back();
  }
  </script>
<% include footer %>